.login {
  background: url('https://img.alicdn.com/tfs/TB1zsNhXTtYBeNjy1XdXXXXyVXa-2252-1500.png');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  .content-wrapper {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slogan {
    text-align: center;
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 48px;
  }
  .login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: rgb(238, 238, 238) 1px 1px 2px;
  }
  h4 {
    margin: 0px 0px 20px;
    text-align: center;
    color: rgb(48, 128, 254);
    letter-spacing: 12px;
    font-size: 16px;
    line-height: 24px;
  }
  .login_warit {
    width: 200px;
    margin-bottom: 20px
  }
  .link-to {
    display: flex;
    span {
      color: rgb(153, 153, 153);
      text-decoration: none;
      font-size: 13px;
      margin-top: 20px;
      margin-right: 10px;
      cursor: pointer;
      &:last-child {
        padding-left: 10px;
        border-left: 1px solid rgb(153, 153, 153);
      }
      &:hover {
        color: #5584FF;
      }
    }
  }
}
