

.__menu {
  //element menu reset
  .el-menu {
    background: rgba(255,255,255,.5) !important;
  }
  .el-menu--dark .el-submenu .el-menu .el-menu-item:hover,
  .el-menu--dark .el-submenu__title:hover,
  .el-menu--dark .el-menu-item:hover{
    background: rgba(255,255,255,.2)
  }
  ._menu{
    width: 100%;
  }
  width: 200px;
  position: fixed !important;
  top:50px;
  left: 30px;
  border-radius: 16px;
}
